<div class="card" *ngIf='product'>
  <h2 class="card-header bg-primary text-light">
    Product Detail: {{ product.productName }}
  </h2>
  <div class="card-body container">
     <div class='row'>
        <div class='col-5'>
          <ul class='list-group'>
            <li class='list-group-item d-flex justify-content-between align-items-center'>id: <span>{{ product.productId }}</span></li>
            <li class='list-group-item d-flex justify-content-between align-items-center'>name: <span>{{ product.productName }}</span></li>
            <li class='list-group-item d-flex justify-content-between align-items-center'>code: <span>{{ product.productCode }}</span></li>
            <li class='list-group-item d-flex justify-content-between align-items-center'>release date: <span>{{ product.releaseDate }}</span></li>
            <li class='list-group-item d-flex justify-content-between align-items-center'>description: <span>{{ product.description }}</span></li>
            <li class='list-group-item d-flex justify-content-between align-items-center'>price: <span>{{ product.price | currency:'EUR' :'symbol':'1.2-2'}}</span></li>
            <li class='list-group-item d-flex justify-content-between align-items-center'>rating: <span><app-star [rating]='product.starRating'></app-star></span></li>
          </ul>
        </div>
        <div class='col'>
            <img [src]='product.imageUrl' [title]='product.productName'/>
        </div>
     </div>
  </div>

  <div clas='card-footer'>
    <button type="button" class="btn btn-primary" (click)='onBack()' style="width: 80px">Back</button>
  </div>

</div>
